@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); 
body{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}
iframe{
    max-width: 225px;
    height: 155px;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #F00F25;
    padding-left: 30px;
}
.card{
    display: inline;
    float: left;
    align-items: center;
    padding: 10px;
    
}
.card-content:hover{
    box-shadow: 2px 2px 50px rgba(255, 15, 0, 0.75);
}
.card-content{
    width: 225px;
    /* border: 1px solid #FFFFFF; */

    border-radius: 8px;
    padding: 20px;
}
.card-content h5{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.card-content p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.swipe{
    display: flex;
    justify-content: center;
    width: 100%;
}


.flt-left{
    float:left;
    }
    .carousel{
    max-width:100%;
    display: flex;
    margin-top: 0%;
    max-height: 100%;
    }
    .row{
    width:90%;
    padding:0;
    overflow:hidden;
    margin:auto;
    }
    .row-container{
    width:100%;
    transition:0.5s;
    }
    .clear{
    clear:both;
    }
    .controls{
    width:100%;
    margin:auto;
    }
    button{
    border:none;
    font-weight:bold;
    outline:none;
    background: none;
    }
